<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,viewport-fit=cover" />
		<title>找回交易密码</title>
		<link rel="stylesheet" type="text/css" href="../../css/base.css" />
		<link rel="stylesheet" type="text/css" href="../../plugins/layer/layer.css" />
		<link rel="stylesheet" type="text/css" href="../../css/register.css" />
		<link rel="stylesheet" type="text/css" href="../../css/user_id.css"/>
		<script type="text/javascript" src="../../plugins/layer/layer.js"></script>
		<script type="text/javascript" src="../../js/rem.js"></script>
		<script type="text/javascript" src="../../js/zepto.min.js"></script>
		<script type="text/javascript" src="../../js/jsrender.min.js"></script>
		<script type="text/javascript" src="../../js/common.js"></script>
		<script type="text/javascript" src="../../js/fastclick.js"></script>
		<script type="text/javascript" src="../../js/validatorUtil.js"></script>
		<script type="text/javascript" src="find_dealpassword.js"></script>
	</head>

	<body>
		<header class="clearfix">
			<div class="headerback_box">
				<img src="../../img/header_back.png" />
			</div>
			<p>找回交易密码</p>
		</header>
		<section class="section">
			<div class="message_tips">
				<!--短信验证码已发送至您的手机138****0000-->
			</div>
	
			<form action="" method="" onsubmit="return false">
				<ul class="register_list clearfix">
					<li class="clearfix">
						<input class="short_ipt" name="" id="smscode" value="" placeholder="请输入短信验证码" class="fl" max="4" />
						<input type="button" class="get_code" id="get_code" value="免费获取验证码" onclick="code_time(this)" />
					</li>
					<li class="top_38">
						<input type="password" name="" id="pwd" value="" placeholder="设置交易密码" maxlength="16" autocomplete="off"/>
						<div class="delete_ipt fr">
							<img src="../../img/delete.png"/>
						</div>
					</li>
					<li>
						<input type="password" name="" id="pwd2" value="" placeholder="重复输入交易密码" maxlength="16" autocomplete="off"/>
						<div class="delete_ipt fr">
							<img src="../../img/delete.png"/>
						</div>
					</li>
				</ul>
	
				<button class="register_btn" onclick="modifyPayPwd()">下一步</button>
			</form>
			<footer>
				期望回报并非平台承诺收益，市场有风险，投资需谨慎
			</footer>
		</section>
		
		<div class="showAlert" >
			<div class="mask"></div>
				
			<div class="content_wrap content_wrap1">
				<h3>提示</h3>
				<span class="add">验证码不正确</span>
				<button class="showbtn_1">确定</button>
			</div>
			
			<div class="content_wrap content_wrap4">
				<p>密码修改成功</p>
			</div>
		</div>
	</body>

</html>

<script id="code_content" type="text/x-jsrender">
	<div class="code_content clearfix">
		<input type="text" name="" id="vcode" value="" placeholder="请输入验证码" class="code_ipt" maxlength="4" />
		<div class="code_box"><img id="wk_img" alt="" /></div>
	</div>
	<div class="code_tips">验证码不正确，请重新输入</div>
</script>

