<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,viewport-fit=cover" />
		<title>修改登录密码</title>
		<script type="text/javascript" src="../../js/rem.js" ></script>
		<link rel="stylesheet" href="../../css/base.css" />
		<link rel="stylesheet" type="text/css" href="../../plugins/layer/layer.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/register.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/user_id.css"/>
		<script type="text/javascript" src="../../js/zepto.min.js"></script>
		<script type="text/javascript" src="../../plugins/layer/layer.js" defer="defer"></script>
		<script type="text/javascript" src="../../js/common.js"></script>
		<script type="text/javascript" src="../../js/fastclick.js"></script>
		<script type="text/javascript" src="../../js/validatorUtil.js" ></script>
		<script type="text/javascript" src="resetPayPassword.js"></script>
		
	</head>
	<body>
		<header class="clearfix">
			<div class="headerback_box" keepalive="true">
				<img src="../../img/header_back.png" />
			</div>
			<p>修改交易密码</p>
		</header>
		<section class="section">
			<form action="" method="" onsubmit="return false">
				<ul class="register_list clearfix">
					<li>
						<input type="password" name="" id="oldPassword" value="" placeholder="原交易密码" autocomplete="off"/>
						<div class="delete_ipt fr">
							<img src="../../img/delete.png"/>
						</div>
					</li>
					<li class="top_38">
						<input type="password" name="" id="newPassword" value="" placeholder="设置交易密码" autocomplete="off"/>
						<div class="delete_ipt fr">
							<img src="../../img/delete.png"/>
						</div>
					</li>
					<li>
						<input type="password" name="" id="reNewPassword" value="" placeholder="重复交易密码" autocomplete="off"/>
						<div class="delete_ipt fr">
							<img src="../../img/delete.png"/>
						</div>
					</li>
				</ul>
				<button class="register_btn" onclick="changePassword();">完成</button>
			</form>
			
			<footer class="foot-cyp">
				<p>期望回报并非平台承诺收益，市场有风险，投资需谨慎</p>
			</footer>
		</section>
		
		<div class="showAlert" style="display: none;">
			<div class="mask"></div>
			
			<div class="content_wrap content_wrap1">
				<span class="add"></span>
			</div>
			
			<div class="content_wrap content_wrap4">
				<p>密码修改成功</p>
			</div>
		</div>
	</body>
</html>
