<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,viewport-fit=cover" />
		<title>设置交易密码</title>
		<script type="text/javascript" src="../../js/rem.js" ></script>
		<link rel="stylesheet" href="../../css/base.css" />
		<link rel="stylesheet" type="text/css" href="../../css/register.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/user_id.css"/>
		<link rel="stylesheet" type="text/css" href="../../plugins/layer/layer.css" />
		<script type="text/javascript" src="../../plugins/layer/layer.js"></script>
		<script type="text/javascript" src="../../js/zepto.min.js"></script>
		<script type="text/javascript" src="../../js/common.js"></script>
		<script type="text/javascript" src="../../js/validatorUtil.js"></script>
		<script type="text/javascript" src="../../js/fastclick.js"></script>
		<script type="text/javascript" src="set_dealpassword.js"></script>
	</head>
	<body>
		<header class="clearfix">
			<div class="headerback_box" keepalive="true">
				<img src="../../img/header_back.png" />
			</div>
			<p>设置交易密码</p>
		</header>
		<section class="section">
			<form action="" method="" onsubmit="return false">
				<ul class="register_list clearfix">
					<li>
						<input type="password" name="" id="newPassword" value="" placeholder="设置密码" autocomplete="off"/>
						<div class="delete_ipt fr">
							<img src="../../img/delete.png"/>
						</div>
					</li>
					<li>
						<input type="password" name="" id="reNewPassword" value="" placeholder="重复密码" autocomplete="off"/>
						<div class="delete_ipt fr">
							<img src="../../img/delete.png"/>
						</div>
					</li>
				</ul>
	
				<button class="register_btn" onclick="changePassword()">完成</button>
			</form>
			
			<footer class="foot-cyp">
				<p>期望回报并非平台承诺收益，市场有风险，投资需谨慎</p>
			</footer>
		</section>
		
		<div class="showAlert">
			<div class="mask"></div>
			
			<div class="content_wrap content_wrap4">
				<p>设置交易密码成功</p>
			</div>
			
			<div class="content_wrap content_wrap9">
				<h3>提示</h3>
				<div class="txt">
					<p>已为您设定风险成熟度最低的谨慎性偏好</p >
				</div>
				<button class="showbtn_2" onclick="skipAndInvest()">好哒，立即出借</button>
				<a href="###" onclick="gotoriskpage()">不太相符，去测评</a>
			</div>
		</div>
	</body>
</html>
