<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,viewport-fit=cover" />
		<title>转让退出记录</title>
		<script type="text/javascript" src="../../js/rem.js"></script>
		<link rel="stylesheet" href="../../css/base.css" />
		<script type="text/javascript" src="../../js/zepto.min.js"></script>
		<script type="text/javascript" src="../../js/common.js"></script>
		<script type="text/javascript" src="../../js/fastclick.js"></script>
	</head>

	<body>

		<header class="bgcolor_main">
			<div class="headerback_box" keepalive="true">
				<img src="../../img/header_back.png" />
			</div>
			<p>转让退出记录</p>
		</header>

		<section>
			<img src="../../img/record_m.png" class="record_m"/>
		</section>
		
		<footer class="foot-cyp">
			<p>期望回报并非平台承诺收益，市场有风险，投资需谨慎</p>
		</footer>

	</body>

</html>