<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,viewport-fit=cover" />
		<title>重置登录密码</title>
		<link rel="stylesheet" type="text/css" href="../../css/base.css" />
		<link rel="stylesheet" type="text/css" href="../../plugins/layer/layer.css" />
		<link rel="stylesheet" type="text/css" href="../../css/register.css" />
		<script type="text/javascript" src="../../js/rem.js"></script>
		<script type="text/javascript" src="../../plugins/layer/layer.js"></script>
		<script type="text/javascript" src="../../js/zepto.min.js"></script>
		<script type="text/javascript" src="../../js/jsrender.min.js"></script>
		<script type="text/javascript" src="../../js/common.js"></script>
		<script type="text/javascript" src="../../js/validatorUtil.js"></script>
		<script type="text/javascript" src="../../js/fastclick.js"></script>
		<script src="../../plugins/jsencrypt.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="forget_password.js"></script>
	
		
		<style>
			.layui-m-layercont {
				line-height: 0.8rem;
			}
		</style>
	</head>

	<body>
		<header class="clearfix">
			<div class="headerback_box">
				<img src="../../img/header_back.png" />
			</div>
			<p>重置登录密码</p>
		</header>
		<section class="section">
			<div class="message_tips">
				<!--短信验证码已发送至您的手机138****0000-->
			</div>
	
			<form action="" method="" onsubmit="return false">
				<ul class="register_list clearfix">
					<li class="clearfix">
						<input class="short_ipt" name="" id="smscode" value="" placeholder="请输入短信验证码" class="fl" max="4" />
						<input type="button" class="get_code" id="get_code" value="免费获取验证码" onclick="code_time(this)" />
					</li>
					<li class="top_38">
						<input type="password" name="" id="pwd" value="" placeholder="请输入登录密码" maxlength="16" autocomplete="off"/>
						<div class="delete_ipt fr">
							<img src="../../img/delete.png"/>
						</div>
					</li>
					<li>
						<input type="password" name="" id="pwd2" value="" placeholder="请重复密码" maxlength="16" autocomplete="off"/>
						<div class="delete_ipt fr">
							<img src="../../img/delete.png"/>
						</div>
					</li>
				</ul>
	
				<button class="register_btn" onclick="modifyPwd()">确定</button>
			</form>
			
			<table id='key_board' border="0" cellspacing="0" cellpadding="0">
				
					<tr>
						<td>1</td>
						<td>2</td>
						<td>3</td>
						<td class="key_delete" rowspan="2">
							<img src="../../img/key_delete.png" />
						</td>
					</tr>
					<tr>
						<td>4</td>
						<td>5</td>
						<td>6</td>
					</tr>
					<tr>
						<td>7</td>
						<td>8</td>
						<td>9</td>
						<td class="key_sure" rowspan="2">确定</td>
					</tr>
					<tr>
						<td class="gray"></td>
						<td>0</td>
						<td class="gray"></td>
					</tr>
				
			</table>
			
			<footer>
				期望回报并非平台承诺收益，市场有风险，投资需谨慎
			</footer>
		</section>
	</body>

</html>

<script id="code_content" type="text/x-jsrender">
	<div class="code_content clearfix">
		<input type="text" name="" id="vcode" value="" placeholder="请输入验证码" class="code_ipt" maxlength="4" onclick="this.blur();"/>
		<div class="code_box"><img id="wk_img" alt="" /></div>
	</div>
	<div class="code_tips">验证码不正确，请重新输入</div>
</script>

