<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,viewport-fit=cover" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../css/base.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/register.css"/>
		<link rel="stylesheet" type="text/css" href="../../plugins/layer/layer.css" />
		<script type="text/javascript" src="../../js/rem.js"></script>
		<script type="text/javascript" src="../../plugins/layer/layer.js"></script>
		<script type="text/javascript" src="../../js/zepto.min.js"></script>
		<script type="text/javascript" src="../../js/fastclick.js"></script>
		<script type="text/javascript" src="../../js/common.js"></script>
		<script type="text/javascript" src='../../js/kefu.js'></script>
		<script src="../../plugins/jsencrypt.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="login_password.js"></script>
		<style type="text/css">
			.layui-m-layercont{
				line-height: 0.8rem;
			}
		</style>
	</head>
	
	<body>
		<header class="clearfix">
			<div class="headerback_box">
				<img src="../../img/header_back.png"/>
			</div>
			<p>输入登录密码</p>
		</header>
		<section class="section">
			<div class="message_tips">
				您已注册悟空理财，请输入登录密码
			</div>
			
			<form action="" method="" onsubmit="return false">
				<ul class="register_list clearfix">
					<li>
						<input type="password" name="" id="pwd" value="" placeholder="请输入登录密码" maxlength="16" autocomplete="off"/>
						<div class="delete_ipt fr">
							<img src="../../img/delete.png"/>
						</div>
					</li>
				</ul>
				<button class="register_btn">登录</button>
				
				<div class="login_forget">
					忘记密码？
				</div>
				
			</form>
			
			<footer>
				期望回报并非平台承诺收益，市场有风险，投资需谨慎
			</footer>
		</section>
		<div class="showAlert">
			<div class="mask"></div>
			<div class="content_wrap content_wrap1">
				<span class="add"></span>
			</div>
		</div>
	</body>
	
</html>
