<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>设置手势密码</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,viewport-fit=cover" />
		<link rel="stylesheet" type="text/css" href="../../css/base.css" />
		<link rel="stylesheet" type="text/css" href="../../css/locker.css"/>
		<script type="text/javascript" src="../../js/rem.js"></script>
		<script type="text/javascript" src="../../js/zepto.min.js"></script>
	</head>

	<body>
		
			<img src="../../img/head_pic.png" class="locker_head"/>
			<p class="locker_tel">
				138*****868
			</p>
			<p class="touch_id">点击使用Touch ID解锁</p>
			<div class="locker_btm locker_btm2">
				<div class="btm_1">其他账户登录</div>
				<div class="btm_2">忘记手势密码</div>
			</div>
			<footer class="locker_footer">
				期望回报并非平台承诺收益，市场有风险，投资需谨慎
			</footer>
	</body>

</html>