<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
		<title>银行卡信息</title>
		<script type="text/javascript" src="../../js/rem.js" ></script>
		<link rel="stylesheet" href="../../css/base.css" />
		<link rel="stylesheet" type="text/css" href="../../css/register.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/user_id.css"/>
		<script type="text/javascript" src="../../js/zepto.min.js"></script>
		<script type="text/javascript" src="../../js/common.js"></script>
		<script type="text/javascript" src="../../js/fastclick.js"></script>
	</head>
	<body class="body_gray">
		<header class="clearfix">
			<div class="headerback_box" keepalive="true">
				<img src="../../img/header_back.png" />
			</div>
			<p>银行卡信息</p>
		</header>
		<section class="section">
			<form action="" method="" onsubmit="return false">
				<ul class="register_list clearfix">
					<li>
						<input type="text" name="" id="" value="" placeholder="请选择银行" />
						<div class="delete_ipt fr">
							<img src="../../img/delete.png"/>
						</div>
					</li>
					<li class="no_border">
						<input type="text" name="" id="" value="" placeholder="请输入银行卡号" maxlength="18" />
						<div class="delete_ipt fr">
							<img src="../../img/delete.png"/>
						</div>
					</li>
					
					<li class="top_38">
						<input type="text" name="" id="" value="" placeholder="请选择银行" />
						<div class="delete_ipt fr">
							<img src="../../img/delete.png"/>
						</div>
					</li>
					<li class="no_border">
						<input type="text" name="" id="" value="" placeholder="请输入银行卡号" maxlength="18" />
						<div class="delete_ipt fr">
							<img src="../../img/delete.png"/>
						</div>
					</li>
				</ul>
			</form>
			<div class="bank_tips">
				<p>*目前，银行卡信息暂不支持在线修改</p>
				<p>*有问题请拨打客服热线：400-618-7125或微信咨询</p>
			</div>
			
			<footer class="foot-cyp">
				<p>预期收益并非平台承诺收益，市场有风险，投资需谨慎</p>
			</footer>
		</section>

	</body>
</html>
