<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,viewport-fit=cover" />
		<title>注册</title>
		<link rel="stylesheet" type="text/css" href="../../css/base.css" />
		<link rel="stylesheet" type="text/css" href="../../css/error_page.css"/>
		<script type="text/javascript" src="../../js/rem.js"></script>
		<script type="text/javascript" src="../../js/zepto.min.js"></script>
		<script type="text/javascript" src="../../js/common.js"></script>
		<script type="text/javascript" src="../../js/fastclick.js"></script>
	</head>

	<body>
		<header class="clearfix">
			<p>悟空理财</p>
		</header>
		<section class="section">
			<img src="../../img/error_page.png" alt="" />
			<p>亲，您的网络不可用，请检查后重试～</p>
			<button>刷新重试</button>
		</section>
	</body>

</html>