<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,viewport-fit=cover" />
		<script type="text/javascript" src="../../js/rem.js"></script>
		<link rel="stylesheet" type="text/css" href="../../css/launcher.css"/>
		<title></title>		
	</head>
	<body>
		<img src="https://m.wukonglicai.com/applauncher/launcher_bak.jpg" onerror = "this.src='../../img/launcher_bak.jpg'" alt="" />
	</body>
</html>
<script type="text/javascript">
		function launcher_loader(num){
			if(num){
				$('.loader .loading-2').css('width',num + '%')
			}
		}
</script>