<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.wukonglicai.app" platformBuildVersionCode="25" platformBuildVersionName="7.1.1">
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="getui.permission.GetuiService.com.wukonglicai.app"/>
    <permission android:name="getui.permission.GetuiService.com.wukonglicai.app" android:protectionLevel="normal"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="com.xiaomi.permission.AUTH_SERVICE"/>
    <uses-feature android:name="android.hardware.microphone" android:required="false"/>
    <meta-data android:name="android.support.VERSION" android:value="25.3.1"/>
    <application android:allowBackup="false" android:allowClearUserData="true" android:hardwareAccelerated="true" android:icon="@drawable/icon" android:label="@string/app_name" android:largeHeap="true" android:name="com.secneo.apkwrapper.ApplicationWrapper">
        <activity android:configChanges="keyboard|keyboardHidden|navigation|orientation" android:hardwareAccelerated="true" android:label="@string/app_name" android:launchMode="singleTask" android:name="io.dcloud.PandoraEntry" android:screenOrientation="user" android:theme="@style/TranslucentTheme" android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <data android:scheme="growing.ce1f652883f8f979"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="wukonglicai"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="fontScale|keyboard|keyboardHidden|mcc|mnc|navigation|orientation|screenSize" android:hardwareAccelerated="true" android:label="5+Debug" android:launchMode="singleTask" android:name="io.dcloud.PandoraEntryActivity" android:screenOrientation="user" android:theme="@style/DCloudTheme" android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <action android:name="android.intent.action.VIEW"/>
                <data android:scheme="h53d2a8a0"/>
            </intent-filter>
        </activity>
        <service android:exported="true" android:name="io.dcloud.common.adapter.io.MiniServerService"/>
        <activity android:name="io.dcloud.imagepick.CustomGalleryActivity">
            <intent-filter>
                <action android:name="io.dcloud.ACTION_PICK"/>
                <action android:name="io.dcloud.ACTION_MULTIPLE_PICK"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <meta-data android:name="UMENG_APPKEY" android:value="55ae11b8e0f55a720a005c07"/>
        <meta-data android:name="UMENG_CHANNEL" android:value="_360"/>
        <meta-data android:name="PUSH_APPID" android:value="7COI3gCpx97oiJmpVDkoO5"/>
        <meta-data android:name="PUSH_APPKEY" android:value="q7EaliXz0W9EV92mq8Gtg4"/>
        <meta-data android:name="PUSH_APPSECRET" android:value="cVqmfD29KJ7tIaI8xzTTp4"/>
        <service android:exported="true" android:label="NotificationCenter" android:name="com.igexin.sdk.PushService" android:process=":pushservice">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.service.message"/>
            </intent-filter>
        </service>
        <service android:name="io.dcloud.feature.apsGt.GTNormalIntentService"/>
        <service android:exported="true" android:label="PushService" android:name="io.dcloud.feature.apsGt.GTNormalPushService" android:process=":pushservice"/>
        <receiver android:name="com.igexin.sdk.PushReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="com.igexin.sdk.action.refreshls"/>
                <action android:name="android.intent.action.MEDIA_MOUNTED"/>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="false" android:name="com.igexin.sdk.PushManagerReceiver">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.pushmanager"/>
            </intent-filter>
        </receiver>
        <activity android:excludeFromRecents="true" android:exported="false" android:name="com.igexin.sdk.PushActivity" android:process=":pushservice" android:taskAffinity="com.igexin.sdk.PushActivityTask" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:excludeFromRecents="true" android:exported="true" android:name="com.igexin.sdk.GActivity" android:process=":pushservice" android:taskAffinity="com.igexin.sdk.PushActivityTask" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <service android:name="com.igexin.download.DownloadService" android:process=":pushservice"/>
        <receiver android:name="com.igexin.download.DownloadReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <provider android:authorities="downloads.com.wukonglicai.app" android:exported="true" android:name="com.igexin.download.DownloadProvider" android:process=":pushservice"/>
        <receiver android:name="io.dcloud.feature.apsGt.GTNotificationReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="com.wukonglicai.app.__CREATE_NOTIFICATION"/>
                <action android:name="com.wukonglicai.app.__REMOVE_NOTIFICATION"/>
                <action android:name="com.wukonglicai.app.__CLEAR_NOTIFICATION"/>
                <action android:name="com.wukonglicai.app.__CLILK_NOTIFICATION"/>
            </intent-filter>
        </receiver>
        <meta-data android:name="WX_SECRET" android:value="e37c612b6cd0d09a6100aa29d4158172"/>
        <meta-data android:name="WX_APPID" android:value="wx750e858d7fa0bda0"/>
        <activity android:exported="true" android:label="@string/app_name" android:launchMode="singleTop" android:name="com.wukonglicai.app.wxapi.WXEntryActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="wx750e858d7fa0bda0"/>
            </intent-filter>
        </activity>
        <service android:name="com.qiyukf.nimlib.service.NimService" android:process=":core"/>
        <service android:name="com.qiyukf.nimlib.service.NimService$Aux" android:process=":core"/>
        <service android:name="com.qiyukf.unicorn.analytics.AnalyticsService" android:process=":core"/>
        <receiver android:exported="false" android:name="com.qiyukf.nimlib.service.NimReceiver" android:process=":core">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <service android:name="com.qiyukf.nimlib.service.WakeupService"/>
        <provider android:authorities="com.wukonglicai.app.unicorn.fileprovider" android:exported="false" android:grantUriPermissions="true" android:name="com.qiyukf.nim.uikit.provider.UnicornProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/ysf_provider"/>
        </provider>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:icon="@drawable/ysf_action_bar_icon_transparent" android:name="com.qiyukf.unicorn.ui.activity.ServiceMessageActivity" android:screenOrientation="portrait" android:theme="@style/ysf_window_theme" android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.qiyukf.nim.uikit.session.activity.WatchMessagePictureActivity" android:screenOrientation="portrait" android:theme="@style/ysf_window_theme" android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.qiyukf.nim.uikit.session.activity.PickImageActivity" android:screenOrientation="portrait" android:theme="@style/ysf_window_theme" android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.qiyukf.nim.uikit.common.media.picker.activity.PickerAlbumActivity" android:screenOrientation="portrait" android:theme="@style/ysf_window_theme"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.qiyukf.nim.uikit.common.media.picker.activity.PickerAlbumPreviewActivity" android:screenOrientation="portrait" android:theme="@style/ysf_window_theme"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="@string/ysf_input_panel_take" android:name="com.qiyukf.nim.uikit.common.media.picker.activity.PreviewImageFromCameraActivity" android:screenOrientation="portrait" android:theme="@style/ysf_window_theme" android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="@string/ysf_activity_file_download" android:name="com.qiyukf.unicorn.ui.activity.FileDownloadActivity" android:screenOrientation="portrait" android:theme="@style/ysf_window_theme"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.qiyukf.unicorn.ui.activity.UrlImagePreviewActivity" android:screenOrientation="portrait" android:theme="@style/ysf_window_theme"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.qiyukf.unicorn.ui.activity.CardPopupActivity" android:screenOrientation="portrait" android:theme="@style/ysf_window_theme"/>
    </application>
</manifest>